@inherits LayoutComponentBase

<div class="container py-3">
    <header class="mb-3">
        <h1>EquestrianBot Admin</h1>
        <nav class="mb-2">
            <a href="/dashboard">Dashboard</a>
        </nav>
        <hr />
    </header>
    <main>
        @Body
    </main>
</div>
